# --- docker-compose.yml ---
version: '3.8'
services:
  django:
    build: ./docker
    ports:
      - '8000:8000'
    volumes:
      - .:/app
    env_file:
      - ../.env
    depends_on:
      - redis

  {% if cookiecutter.use_celery.lower() == 'y' %}
  celery:
    build: ./docker
    container_name: celery
    command: celery -A config worker -l info
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
  {% endif %}

  redis:
    image: redis:7
    ports:
      - '6379:6379'

  nginx:
    image: nginx:latest
    ports:
      - '80:80'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - django