# --- docker-compose.yml ---
version: '3.8'
services:
  django:
    build: ./docker
    ports:
      - '8000:8000'
    volumes:
      - .:/app
    env_file:
      - ../.env
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - '6379:6379'

  nginx:
    image: nginx:latest
    ports:
      - '80:80'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - django